@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.highlighted {
  animation: highlight 1000ms cubic-bezier(0, 0, 0.2, 1) 1;
}

@keyframes highlight {
  0% {
    background: rgba(17, 22, 88, 0.72);
    filter: brightness(2);
  }
}


